html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  /* background-color: rgb(12, 65, 49); */
  background-image: url("./../img/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;

  height: 100vh;
  color: #fff;
  font-family: "Rubik", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;

  overflow: hidden;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  min-height: 100vh;
}

/* Темный оверлей */
/* body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
} */

.countdown__wrapper {
  z-index: 1;
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.title {
  font-size: 80px;
  /* text-shadow: 0 0 10px #5e6ca8;
  color: #b3bcca; */
  text-shadow: 0 0 15px #9d822b;
  color: #e7e7e0;
}

.year {
  font-size: 190px;
  line-height: 1;
  /* text-shadow: 0 0 10px #5e6ca8;
  color: #b3bcca; */
  text-shadow: 0 0 15px #9d822b;
  color: #e7e7e0;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-shadow: 0 0 10px #5e6ca8;
  color: #b3bcca; */
  text-shadow: 0 0 15px #9d822b;
  color: #e7e7e0;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  width: 70px;
}

.time h2 {
  margin: 0 0 10px;
  font-size: 48px;
}

.time small {
  font-size: 26px;
}

/* Preloader */

/* .lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
} */

@media (max-width: 640px) {
  .title {
    font-size: 60px;
  }
  .year {
    font-size: 160px;
  }
}

@media (max-width: 500px) {
  .countdown-wrapper {
    height: 80vh;
    margin-top: 100px;
  }
  .year {
    font-size: 140px;
  }

  .time {
    margin: 20px;
    width: 50px;
  }

  .time h2 {
    margin: 0;
  }

  .time small {
    font-size: 16px;
  }
}
